<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        <p>Click <a th:href="@{/health}">here</a> to see health status</p>
        <p>Click <a th:href="@{/env}">here</a> to see env </p>
        <p>Click <a th:href="@{/info}">here</a> to see info </p>

        <p>Click <a th:href="@{/user/all}">here</a> to see all users </p>
    </body>
</html>